body {
  margin: 0;
  padding: 0;
}
header {
}

.navSearch {
  background-image: url(images/header_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: 51.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.search {
  width: 31.4375rem;
  height: 3.9375rem;
  transition: box-shadow 0.8s;
  border: 1px solid black;
}
.search:hover {
  transition: box-shadow 0.8s;
  border: none;
}
.search[placeholder] {
  color: #999;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: 0.175rem;
}
.btnsearch {
  width: 9.5625rem;
  height: 3.9375rem;
  background-color: #5474fd;
  stroke-width: 2px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  transition: 0.8s;
  cursor: pointer;
}

.btnEfect:hover {
  opacity: 0.6;
  color: black;
  font-weight: 900;
  transition: 0.8s;
}
.btnSearchImg {
  position: relative;
  top: 5px;
  left: 5px;
}

.titleBrend {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 10px;
}
.titleDescription {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.42625rem;
}

.scrollDown {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: 0.175rem;
  margin-top: 200px;
}

.scrollDownImg {
  cursor: pointer;
}

.headerMenu {
  display: flex;
  justify-content: space-evenly;
  background-color: #5474fd;
  box-sizing: border-box;
  padding-top: 0;
}

.menuComponent {
  display: flex;
  align-items: center;
}

.headerLogo {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-decoration: none;
}

.menuList {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.menuLink {
  color: #fff;
  font-family: Aleo;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: uppercase;
  margin-left: 35px;
  text-decoration: none;
  position: relative;
}

.menuLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
  transition: 0.3s ease;
}

.menuLink::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menuLink:hover::after {
  width: 100%;
}
.whyChooseUs {
  background-image: url(images/background-why-choose-us.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: 51.25rem;
  display: flex;
  justify-content: center;
}
.whyChooseUsDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.whyChooseUsTitle {
  color: #fff;
  font-family: Aleo;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.descriptionText {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  width: 35rem;
}
.whyChooseUsBtn {
  width: 14.25rem;
  height: 3.9375rem;
  background-color: #5474fd;
  color: #fff;
  font-family: Aleo;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  margin-top: 70px;
  transition: 0.8s;
  cursor: pointer;
}
.whyChooseUsImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whyChooseUsImg1,
.whyChooseUsImg2 {
  width: 21.875rem;
  height: 13.75rem;
}
.whyChooseUsImg1 {
  margin-bottom: 10px;
}
.whyChooseUsImg2 {
  margin-left: 200px;
}
.howItWork {
  background-color: #333;
  height: 21.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howItWorkWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 50%;
}
.howItWorkWrap::after {
  position: absolute;
  content: url("images/Shape\ 1.png");
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.howItWorkIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.1875rem;
  height: 6.1875rem;
  background-color: #333;
  border-radius: 50%;
}
.iconImg {
  margin-bottom: 50px;
}
.iconText {
  color: #e8e8e8;
  text-align: center;
  font-family: Aleo;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.625rem; /* 72.222% */
  width: 15.25rem;
}
.spainTop {
  background-image: url(images/spainTop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.75rem;
  position: relative;
}
.spainTopCard {
  width: 33.9375rem;
  height: 23.375rem;
  background-color: #232323;
  opacity: 0.9;
  position: absolute;
  left: 20%;
  top: 35%;
  padding: 60px 50px 0 50px;
}
.spainStyle h2 {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem; /* 130% */
  letter-spacing: 0.09375rem;
}
.spainStyle h1 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem; /* 130% */
  text-transform: uppercase;
}
.spainStyle p {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.spainStyle button {
  width: 14.25rem;
  height: 3.9375rem;
  background-color: #5474fd;
  color: #fff;
  font-family: Aleo;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  margin-top: 40px;
  transition: 0.8s;
  cursor: pointer;
}
.spainBottom {
  background-image: url(images/spainBottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.75rem;
  position: relative;
}
.spainBottomCard {
  width: 33.9375rem;
  height: 23.375rem;
  background-color: #232323;
  opacity: 0.9;
  position: absolute;
  left: 50%;
  top: 35%;
  padding: 60px 50px 0 50px;
}
#reviewBlock {
  background-image: url(images/reviewBackgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.6875rem;
  position: relative;
}
.reviewTitle {
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.625rem; /* 72.222% */
  position: relative;
  top: 100px;
  margin: 0;
}
.review {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviewImg {
  width: 27.8125rem;
  height: 17.75rem;
}
.reviewText {
  width: 41.75rem;
  height: 17.9375rem;
  background-color: #333;
  padding: 35px;
  box-sizing: border-box;
}
.reviewText h1 {
  color: #fefefe;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem; /* 130% */
  text-transform: uppercase;
}
.reviewText p {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
footer {
  background-color: #232323;
  height: 16.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerBrand {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.625rem; /* 108.333% */
  letter-spacing: 0.21rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footerDescription {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}
footer img {
  cursor: pointer;
}
